---
layout: custom_default
title: ""
permalink: /
author_profile: false
sitemap: true
redirect_from:
    - /index/
    - /home/
    - /home.html
---

<div class="cover-image-container">
    <img
        src="{{ '/images/plantation.jpg' | relative_url }}"
        alt="Cover Image"
    />
    <div class="cover-text-overlay">
        <h1>Transforming Tropical Horticulture Through Advanced Research</h1>
        <p>
            We are driving transformative changes through advanced research to
            unlock the full potential of tropical agriculture. We develop and
            apply the latest scientific advancements for more productive and
            sustainable agriculture. Our work is revolutionizing the cultivation
            of tropical crops, leading to enhanced sustainability, increased
            yields, and shaping the future of agriculture in the tropics.
        </p>
        <a href="#discover-more" class="btn btn--primary">Discover More</a>
    </div>
</div>

<section class="custom-feature-section" id="discover-more">
    {% include custom_default.html image_url="/images/agbalumo.jpg"
    image_alt="Tropigence Labs Profile" header_text="Tropigence Labs"
    paragraph_text="We are driving transformative changes through advanced
    research to unlock the full potential of tropical agriculture. We develop
    and apply the latest scientific advancements for more productive and
    sustainable agriculture. Our work is revolutionizing the cultivation of
    tropical crops, leading to enhanced sustainability, increased yields, and
    shaping the future of agriculture in the tropics."
    button_href="https://tropigence.com/" button_text="Learn More" %}
</section>

<section class="custom-feature-section">
    {% include custom_default.html type="alt" image_url="/images/tomato.jpg"
    image_alt="Tropigence Labs Profile" header_text="Tropigence Labs"
    paragraph_text="We are driving transformative changes through advanced
    research to unlock the full potential of tropical agriculture. We develop
    and apply the latest scientific advancements for more productive and
    sustainable agriculture. Our work is revolutionizing the cultivation of
    tropical crops, leading to enhanced sustainability, increased yields, and
    shaping the future of agriculture in the tropics."
    button_href="https://tropigence.com/" button_text="Learn More" %}
</section>

<section class="custom-feature-section">
    {% include custom_default.html image_url="/images/agbalumo.jpg"
    image_alt="Tropigence Labs Profile" header_text="Tropigence Labs"
    paragraph_text="We are driving transformative changes through advanced
    research to unlock the full potential of tropical agriculture. We develop
    and apply the latest scientific advancements for more productive and
    sustainable agriculture. Our work is revolutionizing the cultivation of
    tropical crops, leading to enhanced sustainability, increased yields, and
    shaping the future of agriculture in the tropics."
    button_href="https://tropigence.com/" button_text="Learn More" %}
</section>

<section class="custom-feature-section">
    {% include custom_default.html type="alt" image_url="/images/tomato.jpg"
    image_alt="Tropigence Labs Profile" header_text="Tropigence Labs"
    paragraph_text="We are driving transformative changes through advanced
    research to unlock the full potential of tropical agriculture. We develop
    and apply the latest scientific advancements for more productive and
    sustainable agriculture. Our work is revolutionizing the cultivation of
    tropical crops, leading to enhanced sustainability, increased yields, and
    shaping the future of agriculture in the tropics."
    button_href="https://tropigence.com/" button_text="Learn More" %}
</section>
