.page-content {
    line-height: 1.8em;
}

.container {
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
    max-width: var(--global-doc-medium);
}

.page-content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 0px;
}

.page-content h2 {
    margin-top: 25px;
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

.page-content p {
    margin-bottom: 15px;
}

.page-content ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

.no-bullets {
    list-style: none;
    padding-left: 0;
}

.page-content li {
    margin-bottom: 8px;
}

.page-content a {
    text-decoration: none;
}

.page-content a:hover {
    text-decoration: underline;
}

.disclaimer {
    font-size: 0.8em;
    margin-top: 30px;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        margin: 10px 15px;
        padding: 15px;
        box-sizing: border-box;
        /* ensures padding doesn't overflow */
    }
}