---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <!-- Favicon and Manifest declarations -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/favicon.png?v=2">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png?v=2">
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/images/favicon.svg?v=2">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/favicon.svg?v=2" color="#009a00">

    <!-- Fallback ICO Icon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico?v=2">

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/images/manifest.json?v=2">

    <meta name="msapplication-TileColor" content="#009a00">
    <meta name="theme-color" content="#009a00">
    <!---End of Favicon and Manifest declarations-->

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
