---
layout: compress
---
{% include base_path %}

<!doctype html>
<html
    lang="{{ site.locale | slice: 0,2 }}"
    class="no-js"
    {% if site.site_theme == 'dark' %}
        data-theme="dark"
    {% endif %}
>
    <head>
        {% include head.html %}
        {% include head/custom.html %}

        <!-- Favicon and Manifest declarations -->
        <link
            rel="apple-touch-icon"
            href="{{ site.baseurl }}/images/favicon.png?v=2"
        >
        <link
            rel="icon"
            type="image/png"
            href="{{ site.baseurl }}/images/favicon.png?v=2"
        >
        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ site.baseurl }}/images/favicon.svg?v=2"
        >
        <link
            rel="mask-icon"
            href="{{ site.baseurl }}/images/favicon.svg?v=2"
            color="#00784a"
        >

        <!-- Fallback ICO Icon -->
        <link
            rel="shortcut icon"
            href="{{ site.baseurl }}/images/favicon.ico?v=2"
        >

        <!-- Web App Manifest -->
        <link rel="manifest" href="{{ site.baseurl }}/images/manifest.json?v=2">

        <meta name="msapplication-TileColor" content="#00784a">
        <meta name="theme-color" content="#00784a">
        <!-- -End of Favicon and Manifest declarations -->

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta
            property="og:title"
            content="Transforming Tropical Horticulture Through Advanced Research"
        >
        <meta
            property="og:description"
            content="We develop and apply the latest scientific advancements for more productive and sustainable horticulture in the tropics."
        >
        <meta
            property="og:image"
            content="{{ site.url }}/images/site_preview.jpg"
        >

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
        <meta
            name="twitter:title"
            content="Transforming Tropical Horticulture Through Advanced Research"
        >
        <meta
            name="twitter:description"
            content="We develop and apply the latest scientific advancements for more productive and sustainable horticulture farming in the tropics."
        >
        <meta
            name="twitter:image"
            content="{{ site.url }}/images/site_preview.jpg"
        >
        <!-- End of Open Graph / Facebook -->
    </head>

    <body>
        {% include browser-upgrade.html %}
        {% include masthead.html %}

        {{ content }}

        <div class="page__footer">
            <footer>
                {% include footer/custom.html %}
                {% include footer.html %}
            </footer>
        </div>

        {% include scripts.html %}
    </body>
</html>
